<div class="accordion accordion-body" id="country">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#country_learning" aria-expanded="false" aria-controls="country_learning">
                Learning
            </button>
        </h2>
        <div id="country_learning" class="accordion-collapse collapse" data-bs-parent="#country">
            <table class="table table-bordered">
                <tbody>
                    <tr> 
                        <td> <a href="{{ url_for('countries_na_learner') }}"> North America </a> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_eu_learner') }}"> Europe </a> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_sa_learner') }}"> South America </a> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_as_learner') }}"> Asia </a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#country_clicking" aria-expanded="false" aria-controls="country_clicking">
                Clicking
            </button>
        </h2>
        <div id="country_clicking" class="accordion-collapse collapse" data-bs-parent="#country">
            <table class="table table-bordered">
                <tbody>
                    <tr> 
                        <td> <a href="{{ url_for('countries_na_clicker') }}"> North America </a> </td>
                        <td> <a id="na_country_typing_score"></a> <script>
                            document.getElementById('na_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/clicking/na') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_eu_clicker') }}"> Europe </a> </td>
                        <td> <a id="eu_country_typing_score"></a> <script>
                            document.getElementById('eu_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/clicking/eu') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_sa_clicker') }}"> South America </a> </td>
                        <td> <a id="sa_country_typing_score"></a> <script>
                            document.getElementById('sa_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/clicking/sa') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_as_clicker') }}"> Asia </a> </td>
                        <td> <a id="as_country_typing_score"></a> <script>
                            document.getElementById('as_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/clicking/as') }}")
                        </script> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#country_typing" aria-expanded="false" aria-controls="country_typing">
                Typing
            </button>
        </h2>
        <div id="country_typing" class="accordion-collapse collapse" data-bs-parent="#country">
            <table class="table table-bordered">
                <tbody>
                    <tr> 
                        <td> <a href="{{ url_for('countries_na_typer') }}"> North America </a></td>
                        <td> <a id="na_country_typing_score"></a> <script>
                            document.getElementById('na_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/typing/na') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_eu_typer') }}"> Europe </a> </td>
                        <td> <a id="eu_country_typing_score"></a> <script>
                            document.getElementById('eu_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/typing/eu') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_sa_typer') }}"> South America </a> </td>
                        <td> <a id="sa_country_typing_score"></a> <script>
                            document.getElementById('sa_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/typing/sa') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> <a href="{{ url_for('countries_as_typer') }}"> Asia </a> </td>
                        <td> <a id="as_country_typing_score"></a> <script>
                            document.getElementById('as_country_typing_score').textContent = getScore("{{ url_for('static', filename='score/countries/typing/as') }}")
                        </script> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>