<div class="accordion" id="base">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#countries" aria-expanded="false" aria-controls="countries">
                Countries
            </button>
        </h2>
        <div id="countries" class="accordion-collapse collapse" data-bs-parent="#base">
            {% include 'home/country_accordion.html' %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#capitals" aria-expanded="false" aria-controls="capitals">
                Capitals
            </button>
        </h2>
        <div id="capitals" class="accordion-collapse collapse" data-bs-parent="#base">
            {% include 'home/capital_accordion.html' %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subd" aria-expanded="false" aria-controls="subd">
                Subdivisions
            </button>
        </h2>
        <div id="subd" class="accordion-collapse collapse" data-bs-parent="#base">
            {% include 'home/subdivision_accordion.html' %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#travle" aria-expanded="false" aria-controls="travle">
                Travle Game
            </button>
        </h2>
        <div id="travle" class="accordion-collapse collapse" data-bs-parent="#base">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> <a href="{{ url_for('travle') }}"> Travle Game </a> </td>
                        <td> 
                            <a id="travle_score"></a>
                            <script>
                                document.getElementById('travle_score').textContent = getTravleScore("{{ url_for('static', filename='score/proximity/travle') }}")
                            </script>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#proximity" aria-expanded="false" aria-controls="proximity">
                Proximity Quiz
            </button>
        </h2>
        <div id="proximity" class="accordion-collapse collapse" data-bs-parent="#base">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> <a href="{{ url_for('proximity') }}"> Proximity Game </a> </td>
                        <td> 
                            <a id="proximity_country_score"></a>
                            <script>
                                document.getElementById('proximity_country_score').textContent = getProxScore("{{ url_for('static', filename='score/proximity/countries') }}")
                            </script>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#shapes" aria-expanded="false" aria-controls="shapes">
                Shape Guessing Game
            </button>
        </h2>
        <div id="shapes" class="accordion-collapse collapse" data-bs-parent="#base">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> <a href="{{ url_for('shapes') }}"> Shape Guessing Game </a> </td>
                        <td> 
                            <a id="shapes_country_score"></a>
                            <script>
                                document.getElementById('shapes_country_score').textContent = getProxScore("{{ url_for('static', filename='score/proximity/countries') }}")
                            </script>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>