<script>
    var vert = document.querySelector('meta[name="map-init"]').getAttribute('vert');
    var hor = document.querySelector('meta[name="map-init"]').getAttribute('hor');
    var zoom = document.querySelector('meta[name="map-init"]').getAttribute('zoom');

    var map = L.map('map', {zoomControl: false, preferCanvas: true, attributionControl: false}).setView([vert, hor], zoom); // Set initial coordinates and zoom level

    // Function to highlight feature on mouseover
    function highlightFeature(e) {
        var layer = e.target;
        setColor(layer, 'yellow', '', 'black')
    }

        // Function to reset highlight on mouseout
    function resetHighlight(e) {
        var layer = e.target;
        setColor(layer, 'blue', '3', 'black')
    }

    // function to set colours and get the right layers to the front
    function setColor(layer, c, d, l){
        layer.setStyle({
            fillColor: c,
            color: l,
            dashArray: d
        });
    }
</script>