<div class="accordion accordion-body" id="sub_type_continent">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#na_sub_type" aria-expanded="false" aria-controls="na_sub_type">
                North America
            </button>
        </h2>
        <div id="na_sub_type" class="accordion-collapse collapse" data-bs-parent="#sub_type_continent">
            {% include 'home/subdivisions/na_type.html' %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#eu_sub_type" aria-expanded="false" aria-controls="eu_sub_type">
                Europe
            </button>
        </h2>
        <div id="eu_sub_type" class="accordion-collapse collapse" data-bs-parent="#sub_type_continent">
            Will add soon
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sa_sub_type" aria-expanded="false" aria-controls="sa_sub_type">
                South America
            </button>
        </h2>
        <div id="sa_sub_type" class="accordion-collapse collapse" data-bs-parent="#sub_type_continent">
            {% include 'home/subdivisions/sa_type.html' %}
        </div>
    </div>
</div>