<div class="accordion accordion-body" id="sub_click_continent">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#na_sub_click" aria-expanded="false" aria-controls="na_sub_click">
                North America
            </button>
        </h2>
        <div id="na_sub_click" class="accordion-collapse collapse" data-bs-parent="#sub_click_continent">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> 
                            <a href="{{ url_for('combined_na_clicker') }}"> North America </a> 
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <a href="{{ url_for('antigua_and_barbuda_clicker') }}"> Antigua and Barbuda </a>
                        </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('bahamas_clicker') }}"> Bahamas </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('barbados_clicker') }}"> Barbados </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('belize_clicker') }}"> Belize </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('canada_clicker') }}"> Canada </a> 
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('costa_rica_clicker') }}"> Costa Rica </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('cuba_clicker') }}"> Cuba </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('dominica_clicker') }}"> Dominica </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('dominican_republic_clicker') }}"> Dominican Republic </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('el_salvador_clicker') }}"> El Salvador </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('grenada_clicker') }}"> Grenada </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('guatemala_clicker') }}"> Guatemala </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('haiti_clicker') }}"> Haiti </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('honduras_clicker') }}"> Honduras </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('jamaica_clicker') }}"> Jamaica </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('mexico_clicker') }}"> Mexico </a> 
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('nicaragua_clicker') }}"> Nicaragua </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('panama_clicker') }}"> Panama </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('saint_kitts_and_nevis_clicker') }}"> Saint Kitts and Nevis </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('saint_lucia_clicker') }}"> Saint Lucia </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('saint_vincent_and_the_grenadines_clicker') }}"> Saint Vincent and the Grenadines </a>
                        </td> 
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('trinidad_and_tobago_clicker') }}"> Trinidad and Tobago </a>
                        </td> 
                    </tr>
                    <tr>
                        <td> 
                            <a href="{{ url_for('usa_clicker') }}"> USA </a> 
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#eu_sub_click" aria-expanded="false" aria-controls="eu_sub_click">
                Europe
            </button>
        </h2>
        <div id="eu_sub_click" class="accordion-collapse collapse" data-bs-parent="#sub_click_continent">
            Will add soon
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sa_sub_click" aria-expanded="false" aria-controls="sa_sub_click">
                South America
            </button>
        </h2>
        <div id="sa_sub_click" class="accordion-collapse collapse" data-bs-parent="#sub_click_continent">
            Will add soon
        </div>
    </div>
</div>