<div class="accordion accordion-body" id="sub_click_continent">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#na_sub_click" aria-expanded="false" aria-controls="na_sub_click">
                North America
            </button>
        </h2>
        <div id="na_sub_click" class="accordion-collapse collapse" data-bs-parent="#sub_click_continent">
            {% include 'home/subdivisions/na_click.html' %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#eu_sub_click" aria-expanded="false" aria-controls="eu_sub_click">
                Europe
            </button>
        </h2>
        <div id="eu_sub_click" class="accordion-collapse collapse" data-bs-parent="#sub_click_continent">
            Will add soon
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sa_sub_click" aria-expanded="false" aria-controls="sa_sub_click">
                South America
            </button>
        </h2>
        <div id="sa_sub_click" class="accordion-collapse collapse" data-bs-parent="#sub_click_continent">
            {% include 'home/subdivisions/sa_click.html' %}
        </div>
    </div>
</div>