<div class="accordion accordion-body" id="sub_type_continent">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#na_sub_type" aria-expanded="false" aria-controls="na_sub_type">
                North America
            </button>
        </h2>
        <div id="na_sub_type" class="accordion-collapse collapse" data-bs-parent="#sub_type_continent">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> 
                            <a href="{{ url_for('combined_na_typer') }}"> North America </a> 
                        </td>
                        <td> <a id="na_subdivision_typing_score"></a> <script>
                            document.getElementById('na_subdivision_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/na') }}")
                        </script> </td>
                    </tr>
                    <tr>
                        <td> 
                            <a href="{{ url_for('antigua_and_barbuda_typer') }}"> Antigua and Barbuda </a>
                        </td>
                        <td> <a id="antigua_and_barbuda_typing_score"></a> <script>
                            document.getElementById('antigua_and_barbuda_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/antigua_and_barbuda') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('bahamas_typer') }}"> Bahamas </a>
                        </td> 
                        <td> <a id="bahamas_typing_score"></a> <script>
                            document.getElementById('bahamas_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/bahamas') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('barbados_typer') }}"> Barbados </a>
                        </td> 
                        <td> <a id="barbados_typing_score"></a> <script>
                            document.getElementById('barbados_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/barbados') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('belize_typer') }}"> Belize </a>
                        </td> 
                        <td> <a id="belize_typing_score"></a> <script>
                            document.getElementById('belize_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/belize') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('canada_typer') }}"> Canada </a> 
                        </td> 
                        <td> <a id="canada_typing_score"></a> <script>
                            document.getElementById('canada_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/canada') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('costa_rica_typer') }}"> Costa Rica </a>
                        </td> 
                        <td> <a id="costa_rica_typing_score"></a> <script>
                            document.getElementById('costa_rica_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/costa_rica') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('cuba_typer') }}"> Cuba </a>
                        </td> 
                        <td> <a id="cuba_typing_score"></a> <script>
                            document.getElementById('cuba_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/cuba') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('dominica_typer') }}"> Dominica </a>
                        </td> 
                        <td> <a id="dominica_typing_score"></a> <script>
                            document.getElementById('dominica_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/dominica') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('dominican_republic_typer') }}"> Dominican Republic </a>
                        </td> 
                        <td> <a id="dominican_republic_typing_score"></a> <script>
                            document.getElementById('dominican_republic_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/dominican_republic') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('el_salvador_typer') }}"> El Salvador </a>
                        </td> 
                        <td> <a id="el_salvador_typing_score"></a> <script>
                            document.getElementById('el_salvador_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/el_salvador') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('grenada_typer') }}"> Grenada </a>
                        </td> 
                        <td> <a id="grenada_typing_score"></a> <script>
                            document.getElementById('grenada_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/grenada') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('guatemala_typer') }}"> Guatemala </a>
                        </td> 
                        <td> <a id="guatemala_typing_score"></a> <script>
                            document.getElementById('guatemala_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/guatemala') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('haiti_typer') }}"> Haiti </a>
                        </td> 
                        <td> <a id="haiti_typing_score"></a> <script>
                            document.getElementById('haiti_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/haiti') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('honduras_typer') }}"> Honduras </a>
                        </td> 
                        <td> <a id="honduras_typing_score"></a> <script>
                            document.getElementById('honduras_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/honduras') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('jamaica_typer') }}"> Jamaica </a>
                        </td> 
                        <td> <a id="jamaica_typing_score"></a> <script>
                            document.getElementById('jamaica_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/jamaica') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('mexico_typer') }}"> Mexico </a> 
                        </td> 
                        <td> <a id="mexico_typing_score"></a> <script>
                            document.getElementById('mexico_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/mexico') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('nicaragua_typer') }}"> Nicaragua </a>
                        </td> 
                        <td> <a id="nicaragua_typing_score"></a> <script>
                            document.getElementById('nicaragua_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/nicaragua') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('panama_typer') }}"> Panama </a>
                        </td> 
                        <td> <a id="panama_typing_score"></a> <script>
                            document.getElementById('panama_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/panama') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('saint_kitts_and_nevis_typer') }}"> Saint Kitts and Nevis </a>
                        </td> 
                        <td> <a id="saint_kitts_and_nevis_typing_score"></a> <script>
                            document.getElementById('saint_kitts_and_nevis_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/saint_kitts_and_nevis') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('saint_lucia_typer') }}"> Saint Lucia </a>
                        </td> 
                        <td> <a id="saint_lucia_typing_score"></a> <script>
                            document.getElementById('saint_lucia_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/saint_lucia') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('saint_vincent_and_the_grenadines_typer') }}"> Saint Vincent and the Grenadines </a>
                        </td> 
                        <td> <a id="saint_vincent_and_the_grenadines_typing_score"></a> <script>
                            document.getElementById('saint_vincent_and_the_grenadines_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/saint_vincent_and_the_grenadines') }}")
                        </script> </td>
                    </tr>
                    <tr> 
                        <td> 
                            <a href="{{ url_for('trinidad_and_tobago_typer') }}"> Trinidad and Tobago </a>
                        </td> 
                        <td> <a id="trinidad_and_tobago_typing_score"></a> <script>
                            document.getElementById('trinidad_and_tobago_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/trinidad_and_tobago') }}")
                        </script> </td>
                    </tr>
                    <tr>
                        <td> 
                            <a href="{{ url_for('usa_typer') }}"> USA </a> 
                        </td> 
                        <td> <a id="usa_typing_score"></a> <script>
                            document.getElementById('usa_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/usa') }}")
                        </script> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#eu_sub_type" aria-expanded="false" aria-controls="eu_sub_type">
                Europe
            </button>
        </h2>
        <div id="eu_sub_type" class="accordion-collapse collapse" data-bs-parent="#sub_type_continent">
            Will add soon
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sa_sub_type" aria-expanded="false" aria-controls="sa_sub_type">
                South America
            </button>
        </h2>
        <div id="sa_sub_type" class="accordion-collapse collapse" data-bs-parent="#sub_type_continent">
            Will add soon
        </div>
    </div>
</div>