<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <meta id="geodata" data="{% block geojson_data %} Default {% endblock %}">
        <meta name="continent" content="{% block continent %}NONE{% endblock %}">
        <meta id="score_path" path="{% block score_path %} Default {% endblock %}">
        <meta name="map-init" vert="{% block vert %} 0 {% endblock %}" hor="{% block hor %} 0 {% endblock %}" zoom="{% block zoom %} 0 {% endblock %}">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <title>{% block title %} Geography Game {% endblock %}</title>
    </head>
<body>
    {% include 'nav_bar.html' %}

    <h1>{% block quiz %} Default Title {% endblock %}</h1>

    <div id="map"></div>

    {% include 'home/load_map.html' %}

    <script> // creating layers for stats and a timer
        var stats = L.control({position: 'topleft'});
        stats.onAdd = function(map) {
            var div = L.DomUtil.create('div', 'leaflet-control custom-control bg-light');
            div.innerHTML = `
                <button type="button" class="btn btn-outline-info" id="start" onclick="start()" disabled=true> Start </button>
            `
            return div;
        }
        stats.addTo(map)

        function start() {
            stats._container.innerHTML = `
                <h2 id="location">Default</h2>
                <h2 id="correct">Accuracy: 100.0%</h2>
            `;

            document.getElementById('location').textContent = find;

            territories.eachLayer(layer => {
                layer.eachLayer(entry => {
                    entry.on('click', function(e) {onClick(e)});
                    entry.on('mouseover', function(e) {highlightFeature(e)});
                    entry.on('mouseout', function(e) {resetHighlight(e)});
                    entry.bindPopup(entry.feature.properties.name);
                })
            });

            var timer = L.control({position: 'topright'});
            timer.onAdd = function(map) {
                var div = L.DomUtil.create('div', 'leaflet-control custom-control bg-light');
                div.innerHTML = `
                    <h1 style='font-weight: bold;' id='clock'> 0:00 </h1>
                `
                return div;
            }
            timer.addTo(map);
            updateTimer(new Date());
        }

        var done = false;
        function updateTimer(current){
            if (!done){
                const now = new Date();
                document.querySelector('#clock').textContent = (now - current)/ 1000
                setTimeout(function() {
                    updateTimer(current);
            }, 10)}
        }
    </script>

    <script> // dealing with a click
        function onClick(e) {
            var layer = e.target;
            var f_index = layer.feature.properties.name
            if (layer.options.fillColor !== 'green') {
                axios.post('/click', {
                    input_value: f_index
                })
                .then(data => {
                    if (data.data.color === "green") { 
                        setColor(layer, 'green', '', 'black')
                        document.getElementById('location').textContent = data.data.next;
                        layer.off('mouseout');
                        layer.off('mouseover');
                        layer.off('click');
                    } else if (data.data.color === "red") {
                        setColor(layer, 'red', '3', 'black')
                        layer.off('mouseout');
                        layer.off('mouseover');
                        setTimeout(function() {
                            layer.setStyle({
                                fillColor: 'blue',
                            });
                            layer.on('mouseout', resetHighlight)
                            layer.on('mouseover', highlightFeature)
                        }, 1000);
                    } else {
                        setColor(layer, 'green', '', 'black')
                        document.getElementById('location').textContent = "Congratulations, you have found all "+ data.data.total + " in " + document.querySelector('#clock').textContent + " seconds!";
                        done = true;
                        layer.off('mouseout');
                        layer.off('mouseover');
                        document.getElementById('correct').textContent = data.data.percent
                        score_keep();
                    }
                    document.getElementById('correct').textContent = data.data.percent
                })
            }
            setTimeout(function() {
                map.closePopup();
            }, 3000)
        }
    </script>

    <script> // initializing data
        var continent = document.querySelector('meta[name="continent"]').getAttribute('content');
        var find;
        var territories = L.layerGroup()
        var geodata = document.getElementById('geodata').getAttribute('data')
        var locations = [];

        if (continent === "NONE") {
            // subdivision
            axios.get(geodata)
                .then(data => {
                    data = data.data;

                    for (let i = 0; i < data.features.length; i++){
                        let subd = data.features[i]
                        
                        locations.push(data.features[i].properties.name)
                        
                        let temp = L.geoJSON(subd, {
                            style: function (feature) {
                                return {
                                    fillColor: 'blue',
                                    fillOpacity: 0.5,
                                    weight: 1,
                                    color: 'black',
                                    dashArray: '3'
                                };
                            }
                        })
                        temp.addTo(territories)
                        temp.addTo(map)
                    };
                })
        }

        axios.get('/countries.geojson')
            .then(data => {
                data = data.data;
                for (let i = 0; i < data.features.length; i++){
                    let country = data.features[i]
                    
                    if (country.properties.continent === continent || continent === "ALL") {
                        locations.push(data.features[i].properties.name)
                        
                        let temp = L.geoJSON(country, {
                            style: function (feature) {
                                return {
                                    fillColor: 'blue',
                                    fillOpacity: 0.5,
                                    weight: 1,
                                    color: 'black',
                                    dashArray: '3'
                                };
                            }
                        })
                        temp.addTo(territories)
                        temp.addTo(map)
                    } else {
                        L.geoJSON(country, {
                            style: function (feature) {
                                return {
                                    fillOpacity: 0,
                                    weight: 3,
                                    color: 'black',
                                    dashArray: ''
                                };
                            }
                        }).addTo(map)
                    }
                };

                axios.post('/collect', {
                    locations: locations
                }).then(loc => {
                    find = loc.data.first
                });

                territories.eachLayer(layer => { layer.bringToFront(); })
                document.getElementById("start").disabled = false
            });
    </script>

    <script> // scorekeeping
        function score_keep(){
            let score_path = document.querySelector('#score_path').getAttribute('path')
            let time = document.querySelector('#clock').textContent;
            let date = new Date();
            date = date.toLocaleDateString();
            let score = document.getElementById('correct').textContent;
            axios.post('/score', {
                    t: time,
                    d: date,
                    s: score.slice(10, -1),
                    type: 'clicking',
                    score: score_path
                })
        }
    </script>
</body>
</html>