<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <meta name="geojson-data" content="{% block geojson_data %} Default {% endblock %}">
        <meta name="map-init" vert="{% block vert %} 0 {% endblock %}" hor="{% block hor %} 0 {% endblock %}" zoom="{% block zoom %} 0 {% endblock %}">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <title>{% block title %} Geography Game {% endblock %}</title>
    </head>
<body>
    {% include 'nav_bar.html' %}

    <h1>{% block quiz %} Default Title {% endblock %}</h1>

    <div id="map"></div>

    {% include 'home/load_map.html' %}

    <script> // creating layers for stats and a timer
        var stats = L.control({position: 'topleft'});
        stats.onAdd = function(map) {
            var div = L.DomUtil.create('div', 'leaflet-control custom-control bg-light');
            div.innerHTML = `
                <button type="button" class="btn btn-outline-info" onclick="start()"> Start </button>
            `
            return div;
        }
        stats.addTo(map)

        function start() {
            stats._container.innerHTML = `
                <h2 id="location">Default</h2>
                <h2 id="correct">Accuracy: 100.0%</h2>
            `;

            document.getElementById('location').textContent = find;
            territories.addTo(map)

            var timer = L.control({position: 'topright'});
            timer.onAdd = function(map) {
                var div = L.DomUtil.create('div', 'leaflet-control custom-control bg-light');
                div.innerHTML = `
                    <h1 style='font-weight: bold;' id='clock'> 0:00 </h1>
                `
                return div;
            }
            timer.addTo(map);
            updateTimer(new Date());
        }

        var done = false;
        function updateTimer(current){
            if (!done){
                const now = new Date();
                document.querySelector('#clock').textContent = (now - current)/ 1000
                setTimeout(function() {
                    updateTimer(current);
            }, 10)}
        }
    </script>

    <script> // dealing with a click
        function onClick(e) {
            var layer = e.target
            var f_index = e.target.feature.properties.name
            if (layer.options.fillColor !== 'green') {
                axios.post('/click', {
                    input_value: f_index
                })
                .then(data => {
                    if (data.data.color === "green") { 
                        setColor(layer, 'green', '', 'black')
                        document.getElementById('location').textContent = data.data.next;
                        layer.off('mouseout');
                        layer.off('mouseover');
                        locked.addLayer(layer)
                    } else if (data.data.color === "red") {
                        setColor(layer, 'red', '3', 'black')
                        layer.off('mouseout');
                        layer.off('mouseover');
                        setTimeout(function() {
                            layer.setStyle({
                                fillColor: 'blue',
                            });
                            layer.on('mouseout', resetHighlight)
                            layer.on('mouseover', highlightFeature)
                        }, 1000);
                    } else {
                        setColor(layer, 'green', '', 'black')
                        document.getElementById('location').textContent = "Congratulations, you have found all "+ data.data.total + " in " + document.querySelector('#clock').textContent + " seconds!";
                        done = true;
                        layer.off('mouseout');
                        layer.off('mouseover');
                        locked.addLayer(layer);
                        document.getElementById('correct').textContent = data.data.percent
                        score_keep();
                    }
                    document.getElementById('correct').textContent = data.data.percent
                })
            }
            setTimeout(function() {
                map.closePopup();
            }, 3000)
        }
    </script>

    <script> // initializing data
        var find;
        axios.get(geodata)
            .then(data => {
                data = data.data;
                
                const locations = [];
                for (let i = 0; i < data.features.length; i++){
                    locations.push(data.features[i].properties.name)
                };

                axios.post('/collect', {
                    locations: locations
                }).then(loc => {
                    find = loc.data.first
                });

                territories = L.geoJSON(data, {
                    style: function (feature) {
                        return {
                            fillColor: 'blue', // Color of the regions
                            fillOpacity: 0.5,
                            weight: 1,
                            color: 'black',
                            dashArray: '3'
                        };
                    },
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup(feature.properties.name);

                        layer.on({
                            mouseover: highlightFeature,
                            mouseout: resetHighlight,
                            click: onClick
                        })
                    }
                })
            });
    </script>

    <script> // scorekeeping
        function score_keep(){
            let time = document.querySelector('#clock').textContent;
            let date = new Date();
            date = date.toLocaleDateString();
            let score = document.getElementById('correct').textContent;
            axios.post('/score', {
                    t: time,
                    d: date,
                    s: score.slice(10, -1),
                    type: 'clicking',
                    r: geodata
                })
        }
    </script>
</body>
</html>