<table class="table table-bordered">
    <tbody>
        <tr>
            <td> <a href="{{ url_for('combined_sa_typer') }}"> South America </a> </td>
            <td> <a id="sa_subdivision_typing_score"></a> <script>
                document.getElementById('sa_subdivision_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/sa') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('argentina_typer') }}"> Argentina </a>
            </td>
            <td> <a id="argentina_typing_score"></a> <script>
                document.getElementById('argentina_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/argentina') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('bolivia_typer') }}"> Bolivia </a>
            </td>
            <td> <a id="bolivia_typing_score"></a> <script>
                document.getElementById('bolivia_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/bolivia') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('brazil_typer') }}"> Brazil </a>
            </td>
            <td> <a id="brazil_typing_score"></a> <script>
                document.getElementById('brazil_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/brazil') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('chile_typer') }}"> Chile </a>
            </td>
            <td> <a id="chile_typing_score"></a> <script>
                document.getElementById('chile_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/chile') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('colombia_typer') }}"> Colombia </a>
            </td>
            <td> <a id="colombia_typing_score"></a> <script>
                document.getElementById('colombia_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/colombia') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('ecuador_typer') }}"> Ecuador </a>
            </td>
            <td> <a id="ecuador_typing_score"></a> <script>
                document.getElementById('ecuador_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/ecuador') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('guyana_typer') }}"> Guyana </a>
            </td>
            <td> <a id="guyana_typing_score"></a> <script>
                document.getElementById('guyana_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/guyana') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('paraguay_typer') }}"> Paraguay </a>
            </td>
            <td> <a id="paraguay_typing_score"></a> <script>
                document.getElementById('paraguay_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/paraguay') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('peru_typer') }}"> Peru </a>
            </td>
            <td> <a id="peru_typing_score"></a> <script>
                document.getElementById('peru_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/peru') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('suriname_typer') }}"> Suriname </a>
            </td>
            <td> <a id="suriname_typing_score"></a> <script>
                document.getElementById('suriname_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/suriname') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('uruguay_typer') }}"> Uruguay </a>
            </td>
            <td> <a id="uruguay_typing_score"></a> <script>
                document.getElementById('uruguay_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/uruguay') }}")
            </script> </td>
        </tr>
        <tr>
            <td> 
                <a href="{{ url_for('venezuela_typer') }}"> Venezuela </a>
            </td>
            <td> <a id="venezuela_typing_score"></a> <script>
                document.getElementById('venezuela_typing_score').textContent = getScore("{{ url_for('static', filename='score/subdivision/typing/venezuela') }}")
            </script> </td>
        </tr>
    </tbody>
</table>