<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <meta id="geodata" data="{% block geojson_data %} Default {% endblock %}">
        <!-- this is only used for subdivisions (map is always drawn with all countries but subdivisions need more data) -->
        <meta name="continent" content="{% block continent %}NONE{% endblock %}">
        <!-- continent is either NONE (for subdivisions), a continent ie NA or EU, or ALL (for world) -->
        <meta id="score_path" path="{% block score_path %} Default {% endblock %}">
        <!-- path to the right file for score keeping purposes -->
        <meta id="type" content="{% block type %}country{% endblock %}">
        <!-- whether it is country or capital (not used for subdivisions) (not used for countries due to it auto being country) -->
        <meta name="map-init" vert="{% block vert %} 0 {% endblock %}" hor="{% block hor %} 0 {% endblock %}" zoom="{% block zoom %} 0 {% endblock %}">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <title>{% block title %} Geography Game {% endblock %}</title>
    </head>
<body>
    {% include 'nav_bar.html' %}

    <h1>{% block quiz %} Default Title {% endblock %}</h1>

    <div id="map"></div>

    {% include 'home/load_map.html' %}

    <script> // handle enter
        function handleKeyPress(event){
            if (event.keyCode === 13) {
                event.preventDefault();
                submit_guess();
            }
        }

        function submit_guess(){
            handleEnter(document.getElementById('answer').value)
            document.getElementById('answer').value = "";
        }

        function handleEnter(value){
            for (let i = 0; i < store.length; i++){
                let check = store[i];
                for (let j = 0; j < check.accepted.length; j++){
                    if (value.toLowerCase().replace(/\s+/g, '') === check.accepted[j].toLowerCase().replace(/\s+/g, '')){
                        count += 1;
                        setColor(check.layer, 'green', '', 'black');
                        document.getElementById('total').textContent = count.toString() + ' of ' + tot + ' correct';
                        store.splice(i, 1);
                        break;
                    }
                }
            }

            if(store.length === 0){
                stats._container.innerHTML = `
                    <h2 id="total"> Default  </h2> <a id="answer"></a>
                `
                document.getElementById('total').textContent = "Congratulations! You're done :) You finished in " + document.querySelector('#clock').textContent + " seconds!";
                done = true;
                document.getElementById('give_up').disabled=true;
                score_keep('100.0');
            }
        }

    </script>

    <script> // layers for stats and timer
        var stats = L.control({position: 'topleft'});
        stats.onAdd = function(map) {
            var div = L.DomUtil.create('div', 'leaflet-control custom-control bg-light');
            div.innerHTML = `
                <button type="button" class="btn btn-outline-info" id="start" onclick="start()" disabled=true> Start </button>
            `
            return div;
        }
        stats.addTo(map)

        function start() {
            stats._container.innerHTML = `
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Guess" aria-label="Guess" aria-describedby="submit" id="answer" autocomplete="off">
                    <button class="btn btn-outline-secondary" type="button" id="submit">Enter</button>
                </div>
                <h2 id="total">Default</h2>
            `
            document.getElementById('answer').addEventListener('keydown', function(e) {handleKeyPress(e)})
            document.getElementById('submit').addEventListener('click', function(e) {submit_guess()})

            document.getElementById('answer').value = "";
            tot = store.length.toString();
            document.getElementById('total').textContent = count.toString() + ' of ' + tot + ' correct';

            var timer = L.control({position: 'topright'});
            timer.onAdd = function(map) {
                var div = L.DomUtil.create('div', 'leaflet-control custom-control bg-light');
                div.innerHTML = `
                    <h1 style='font-weight: bold;' id='clock'> 0:00 </h1>
                    <button type="button" class="btn btn-outline-info" id="give_up" onclick="give_up()"> Give Up </button>
                `
                return div;
            }
            timer.addTo(map);
            updateTimer(new Date());
        }

        var done = false;
        function updateTimer(current){
            if (!done){
                const now = new Date();
                document.querySelector('#clock').textContent = (now - current)/ 1000
                setTimeout(function() {
                    updateTimer(current);
            }, 10)}
        }

        function give_up(){
            stats._container.innerHTML = `
                <h2 id="total"> Default  </h2>
            `
            let s = Math.round((tot - store.length)*10000 / tot)/100
            document.getElementById('total').textContent = "You got " + s.toString() + "% correct in " + document.querySelector('#clock').textContent + " seconds. Try again next time :)";
            done = true;
            document.getElementById('give_up').disabled=true;
            score_keep(s.toString());
        }
    </script>

    <script> // initializing data
        var continent = document.querySelector('meta[name="continent"]').getAttribute('content');
        var store = [];
        var count = 0;
        var tot = 0;
        var geodata = document.getElementById('geodata').getAttribute('data')
        var quiz_type = document.getElementById('type').getAttribute('content')

        if (continent === "NONE") {
            // subdivision
            axios.get(geodata)
                .then(data => {
                    data = data.data;

                    for (let i = 0; i < data.features.length; i++){
                        let subd = data.features[i]
                        
                        let temp = L.geoJSON(subd, {
                            style: function (feature) {
                                return {
                                    fillColor: 'blue',
                                    fillOpacity: 0.5,
                                    weight: 1,
                                    color: 'black',
                                    dashArray: '3'
                                };
                            }
                        }).addTo(map)
                        
                        temp.eachLayer(layer => {
                            let to_add = {};
                            to_add.layer = layer
                            if ('accepted' in layer.feature.properties){
                                to_add.accepted = layer.feature.properties.accepted
                            } else {
                                to_add.accepted = [layer.feature.properties.name]
                            }
                            store.push(to_add)
                        })
                    };
                })
        }

        var capitalMarker = {
            radius: 5,
            fillColor: "red",
            weight: 0,
            fillOpacity: 1
        };

        axios.get('/countries.geojson')
            .then(data => {
                data = data.data;
                
                for (let i = 0; i < data[0].features.length; i++){
                    let country = data[0].features[i]
                    let capital = data[1].features[i]
                    
                    if (country.properties.continent === continent || continent === "ALL") {
                        let temp = L.geoJSON(country, {
                            style: function (feature) {
                                return {
                                    fillColor: 'blue',
                                    fillOpacity: 0.5,
                                    weight: 1,
                                    color: 'black',
                                    dashArray: '3'
                                };
                            }
                        }).addTo(map)
                        
                        temp.eachLayer(layer => {
                            let to_add = {};
                            to_add.layer = layer
                            if (quiz_type == 'country') {
                                if ('accepted' in layer.feature.properties){
                                    to_add.accepted = layer.feature.properties.accepted
                                } else {
                                    to_add.accepted = [layer.feature.properties.name]
                                }
                                store.push(to_add)
                            } else {
                                if ('accepted' in capital.properties){
                                    to_add.accepted = capital.properties.accepted
                                } else {
                                    to_add.accepted = [capital.properties.name]
                                }
                                store.push(to_add)
                            }
                        })

                        L.geoJSON(capital, {
                            pointToLayer: function(feature, coords) {
                                let c = L.latLng(coords.lng, coords.lat)
                                return L.circleMarker(c, capitalMarker);
                            }
                        }).addTo(map)
                    } else {
                        L.geoJSON(country, {
                            style: function (feature) {
                                return {
                                    fillOpacity: 0,
                                    weight: 3,
                                    color: 'black',
                                    dashArray: ''
                                };
                            }
                        }).addTo(map)
                    }
                };
                
                document.getElementById("start").disabled = false
            });
    </script>

<script> // scorekeeping
    function score_keep(score){
        let score_path = document.querySelector('#score_path').getAttribute('path')
        let time = document.querySelector('#clock').textContent;
        let date = new Date();
        date = date.toLocaleDateString();
        axios.post('/score', {
                t: time,
                d: date,
                s: score,
                type: 'typing',
                score: score_path
            })
    }
</script>
</body>
</html>