<div class="accordion accordion-flush" id="other">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#one" aria-expanded="false" aria-controls="one">
                Accordion Item #1
            </button>
        </h2>
        <div id="one" class="accordion-collapse collapse" data-bs-parent="#other">
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#two" aria-expanded="false" aria-controls="two">
                Accordion Item #2
            </button>
        </h2>
        <div id="two" class="accordion-collapse collapse" data-bs-parent="#other">

        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#three" aria-expanded="false" aria-controls="three">
                Accordion Item #3
            </button>
        </h2>
        <div id="three" class="accordion-collapse collapse" data-bs-parent="#other">
        
        </div>
    </div>
</div>